@charset 'utf-8';

*{
    padding: 0;
    margin: 0;
    list-style:none;
}

.app-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0.18rem 0.16rem;
    img{
        width: 2.14rem;
        height: 0.73rem;
    }
    div{
        text-align: center;
        span{
            display: inline-block;
            font-size: 33px;
        }
        p{
            font-size: 22px;
        }
    }
}
.image{
    font-size: 0;
    img{
        width: 100%;
    }
    .image-parent{
        position: relative;
        .image-txt{
            position: absolute;
            font-size: 0.373rem;
        }
        .txt1{
            font-size: 0.48rem;
            color: #ff4351;
            top: 0.6667rem;
            left: 1.2rem;
        }
        .txt2{
            top:2.56rem;
            left: 2.3rem;
        }
        .txt3{
            top:4.6667rem;
            right: 2.3rem;
        }
        .txt4{
            top:6.73rem;
            left: 2.3rem;
        }
        .txt5{
            top:8.82rem;
            right: 2.3rem;
        }
        .txt6{
            font-size: 0.48rem;
            color: #1B9AF6;
            top:0.6667rem;
            right: 1.3rem;
        }
        .txt7{
            top:2.7rem;
            right: 2.3rem;
        }
        .txt8{
            top:4.86rem;
            left: 2.3rem;
        }
        .txt9{
            top:6.98rem;
            right: 2.3rem;
        }
        .txt10{
            top:9.12rem;
            left: 2.3rem;
        }
        .txt11{
            font-size: 0.48rem;
            color: #7A73E7;
            top: 0.66rem;
            left: 1.2rem;
        }
        .txt12{
            top:2.6rem;
            left: 2.3rem;
        }
        .txt13{
            top:4.63rem;
            right: 2.3rem;
        }
        .txt14{
            top:6.73rem;
            left: 2.3rem;
        }
        .txt15{
            top:8.86rem;
            right: 2.3rem;
        }
    }
    
    
    
    
    
    
}

.synopsis{
    padding:0.48rem 16px;
    border-bottom: 18px solid #F4F4F4;
    font-size: 28px;
    text-indent: 1.1rem;
}
.footer{
    width: 100%;
    text-align: center;
    span{
        font-size: 36px;
        color: #00BE9C;
        display: inline-block;
        padding: 0.453rem;
        i{
            color: #000;
        }
    }
    div:nth-of-type(1){
        display: flex;
        justify-content: space-around;
        font-size: 32px;
        padding-bottom: 0.453rem;
        border-bottom: 1px solid #F4F4F4;
        p:nth-of-type(1){
            color: #00BE9C;
        }
    }
    div:nth-of-type(2){
        font-size: 18px;
        color: #9A9A9A;
    }
}