* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.28rem; }

.head {
  height: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cccccc; }
  .head img {
    width: 2.13rem;
    height: 0.74rem;
    margin-left: 0.23rem; }
  .head .p1 {
    font-size: 0.36rem;
    text-align: center; }
  .head .p2 {
    font-size: 0.33rem;
    width: 0.36rem;
    flex-wrap: wrap;
    margin-right: 0.18rem;
    color: #999999;
    display: flex;
    justify-content: flex-start; }
    .head .p2 span {
      font-size: 0.18rem;
      color: #999; }

.div_A {
  font-size: 0.28rem;
  margin: 0.36rem 0.2rem; }
  .div_A .p1 span {
    display: inline-block;
    background: #39c894;
    color: #ffffff;
    font-size: 0.23rem;
    margin-left: 0.23rem;
    border-radius: 5px; }
  .div_A .p2 {
    display: flex;
    margin-top: 0.3rem; }
    .div_A .p2 p:nth-of-type(1) {
      margin-left: 0; }
    .div_A .p2 p {
      margin-left: 0.3rem; }
  .div_A span {
    font-size: 0.24rem;
    color: #999; }
  .div_A .p3 {
    margin-top: 0.3rem; }
  .div_A .btn1 {
    display: flex;
    width: 100%;
    text-align: center;
    margin-top: 0.3rem; }
    .div_A .btn1 p {
      width: 50%;
      height: 0.7rem;
      line-height: 0.7rem;
      border: 1px solid #cccccc;
      font-size: 0.35rem; }
    .div_A .btn1 p:nth-of-type(1) {
      color: #1b9af7;
      border-bottom-left-radius: 8px;
      border-top-left-radius: 8px;
      border-right: none; }
    .div_A .btn1 p:nth-of-type(2) {
      color: #39c894;
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px; }

.div_B {
  width: 100%;
  background: lightblue;
  overflow: hidden;
  padding-bottom: 0.3rem; }
  .div_B .mdiv_A {
    margin: 0.36rem 0.16rem;
    display: flex;
    font-size: 0.28rem; }
    .div_B .mdiv_A p:nth-of-type(1) {
      margin-right: 1rem; }
      .div_B .mdiv_A p:nth-of-type(1) u {
        color: #39c894; }
    .div_B .mdiv_A span {
      color: #999999; }
  .div_B .mdiv_B {
    margin-left: 0.16rem;
    margin-top: 0.36rem;
    display: flex;
    font-size: 0.28rem;
    align-items: center;
    line-height: 0.6rem; }
    .div_B .mdiv_B .yuan {
      width: 0.45rem;
      height: 0.45rem;
      border-radius: 50%;
      background: #2bb281;
      z-index: 1; }
    .div_B .mdiv_B .one {
      width: 0.45rem;
      height: 0px;
      border: 1px solid #2bb281; }
    .div_B .mdiv_B .p1 {
      height: 0.6rem;
      background: #eaeaea;
      padding: 0rem 0.2rem; }
    .div_B .mdiv_B .p2 {
      height: 0.6rem;
      background: #39c895;
      color: #fff;
      padding: 0rem 0.2rem; }
    .div_B .mdiv_B .p3 {
      height: 0.6rem;
      margin-left: 0.05rem;
      background: #feb605;
      color: #fff;
      padding: 0rem 0.2rem; }
  .div_B .p4 {
    margin: 0.3rem 1.06rem; }
  .div_B .xian {
    width: 0;
    height: 18.17rem;
    border: 1px solid #eaeaea;
    position: absolute;
    left: 0.38rem;
    top: 6rem;
    z-index: 0; }
  .div_B .div1 {
    margin-left: 1.06rem; }
    .div_B .div1 img {
      width: 2.07rem;
      height: 2.73rem; }
  .div_B .div2 .img1 {
    width: 6.26rem !important;
    height: 4.71rem; }

.kong {
  margin: 0.4rem 0rem;
  height: 0.2rem;
  background: #d3d3d3; }

.div_F {
  width: 97%;
  margin: 0 auto;
  text-indent: 0.6rem;
  margin-top: 0.3rem; }

.div_G {
  text-align: center;
  font-size: 1.52rem; }
  .div_G p {
    margin-bottom: 0.2rem;
    font-size: 0.28rem; }
  .div_G ul {
    display: flex;
    justify-content: space-around; }
  .div_G img {
    width: 100%; }

.jt1 {
  width: 0.6rem;
  height: 0.6rem;
  text-align: center;
  line-height: 0.6rem;
  font-size: 0.3rem;
  border: 1px solid;
  border-radius: 100%;
  position: absolute;
  right: 0.16rem;
  bottom: -18.4rem;
  background: #fff; }

/*# sourceMappingURL=css.css.map */
