* {
  margin: 0;
  padding: 0;
  list-style: none; }

#four header > div {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #four header > div h5 {
    font-size: 0.9rem;
    text-align: left;
    font-weight: 300; }
  #four header > div span {
    padding: 0.329rem 0.37121rem; }
    #four header > div span img {
      width: 5.2rem; }
  #four header > div > div {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center; }
    #four header > div > div p {
      font-size: 0.5278rem;
      color: #B6B6B6;
      text-align: center; }
    #four header > div > div span:nth-child(1) {
      font-size: 0.924rem;
      color: #B6B6B6; }
#four .ul {
  border-bottom: 1px solid gainsboro;
  display: flex;
  justify-content: space-around;
  height: 2.062rem;
  align-items: center;
  text-align: center; }
  #four .ul li {
    width: 25%;
    font-size: 0.742rem;
    color: #000;
    border-right: 1px solid #f4f4f4;
    text-align: center; }
    #four .ul li i {
      width: 0.5153rem;
      height: 0.31rem;
      color: #999;
      margin-left: 0.5rem; }
  #four .ul li:nth-child(4) i {
    font-size: 1rem;
    color: #39C994; }
#four article {
  padding: 0.25rem 0.264rem;
  background: #F4F4F4;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  #four article li {
    background: white;
    width: 7.22rem;
    margin-bottom: 0.25rem; }
    #four article li img {
      width: 7.22rem; }
    #four article li p:nth-of-type(1) {
      margin: 0 !important;
      padding: 0 !important;
      text-align: center;
      color: #000;
      font-size: 0.76rem;
      padding: 0.52rem 0 0.412rem 0; }
    #four article li p:nth-of-type(2) {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 0.412rem;
      color: #999;
      margin: 0 !important;
      padding: 0.52rem 0 0.412rem 0; }
  #four article div {
    display: flex;
    justify-content: center;
    padding: 0.75rem 0;
    margin: 0 auto; }
    #four article div button {
      width: 35%;
      border: none;
      background: #39C893;
      color: white;
      font-size: 0.75rem;
      padding: 0.2rem 1.35rem; }
    #four article div input {
      width: 35%;
      border: 1px #eaeaea;
      text-align: center; }
  #four article .onep {
    background: white;
    padding: 0.28rem;
    font-size: 0.7rem;
    color: gray;
    text-indent: 1.5rem; }
#four footer p {
  text-align: center;
  font-size: 0.72rem;
  padding: 0.5rem;
  color: gray; }
#four footer ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 0.72rem;
  padding: 0.2rem; }
  #four footer ul li {
    width: 25%; }
  #four footer ul li:hover {
    color: #43CC99; }
#four .fix {
  width: 2rem;
  height: 2rem;
  position: fixed;
  border: 1px solid gainsboro;
  border-radius: 50%;
  z-index: 2;
  right: 0.5rem;
  bottom: 13%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center; }
  #four .fix i {
    font-size: 0.84rem;
    color: #9c9c9c; }
#four .advertising {
  display: flex;
  align-items: center;
  background: #000 url("../img/quoten_bottom.png") no-repeat;
  background-position: 20% top;
  opacity: .8;
  height: 2.2rem;
  width: 100%;
  position: fixed;
  bottom: 0; }
  #four .advertising li {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    font-size: .5rem;
    padding: .1rem;
    border-bottom-right-radius: 100%;
    background: #38C993; }
    #four .advertising li span {
      font-size: .5rem;
      color: #FFF; }
  #four .advertising button {
    color: #FFF;
    background: #FBB405;
    position: absolute;
    right: 5%;
    z-index: 4;
    width: 3.6rem;
    height: 1.1rem;
    border-radius: .5rem;
    font-size: .5rem; }

#ten header > div {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #ten header > div h5 {
    font-size: 0.9rem;
    text-align: left;
    font-weight: 300; }
  #ten header > div span {
    padding: 0.329rem 0.37121rem; }
    #ten header > div span img {
      width: 5.2rem; }
  #ten header > div > div {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center; }
    #ten header > div > div p {
      font-size: 0.5278rem;
      color: #B6B6B6;
      text-align: center; }
    #ten header > div > div span:nth-child(1) {
      font-size: 0.924rem;
      color: #B6B6B6; }
#ten .ul {
  border-bottom: 1px solid gainsboro;
  display: flex;
  justify-content: space-around;
  height: 2.062rem;
  align-items: center;
  text-align: center; }
  #ten .ul li {
    width: 25%;
    font-size: 0.742rem;
    color: #000;
    border-right: 1px solid #f4f4f4;
    text-align: center; }
    #ten .ul li i {
      width: 0.5153rem;
      height: 0.31rem;
      color: #999;
      margin-left: 0.5rem; }
  #ten .ul li:nth-child(4) i {
    font-size: 1rem;
    color: #39C994; }
#ten article > div {
  display: flex;
  justify-content: center;
  padding: 0.75rem 0;
  margin: 0 auto; }
  #ten article > div button {
    width: 35%;
    border: none;
    background: #39C893;
    color: white;
    font-size: 0.75rem;
    padding: 0.2rem 1.35rem; }
  #ten article > div input {
    width: 35%;
    border: 1px #eaeaea;
    text-align: center; }
#ten article .onep {
  background: white;
  padding: 0.28rem;
  font-size: 0.7rem;
  color: gray;
  text-indent: 1.5rem; }
#ten footer p {
  text-align: center;
  font-size: 0.72rem;
  padding: 0.5rem;
  color: gray; }
#ten footer ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 0.72rem;
  padding: 0.2rem; }
  #ten footer ul li {
    width: 25%; }
  #ten footer ul li:hover {
    color: #43CC99; }
#ten .advertising {
  display: flex;
  align-items: center;
  background: #000 url("../img/quoten_bottom.png") no-repeat;
  background-position: 20% top;
  opacity: .8;
  height: 2.2rem;
  width: 100%;
  position: fixed;
  bottom: 0; }
  #ten .advertising li {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    font-size: .5rem;
    padding: .1rem;
    border-bottom-right-radius: 100%;
    background: #38C993; }
    #ten .advertising li span {
      font-size: .5rem;
      color: #FFF; }
  #ten .advertising button {
    color: #FFF;
    background: #FBB405;
    position: absolute;
    right: 5%;
    z-index: 4;
    width: 3.6rem;
    height: 1.1rem;
    border-radius: .5rem;
    font-size: .5rem; }
#ten aside > div {
  border-bottom: 1px solid gainsboro;
  display: flex; }
  #ten aside > div div:nth-of-type(1) {
    padding: 0.6rem 0.53rem;
    width: 5.9rem; }
    #ten aside > div div:nth-of-type(1) img {
      width: 5.9rem;
      height: 4.1rem; }
  #ten aside > div div:nth-of-type(2) {
    width: 50%;
    padding: 0.7rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    #ten aside > div div:nth-of-type(2) h5 {
      margin: 0 !important;
      padding: 0 !important;
      font-size: 0.75rem;
      font-weight: 400; }
    #ten aside > div div:nth-of-type(2) p:nth-of-type(1) span {
      background: #39CA95;
      color: white;
      font-size: 0.4rem;
      padding: 0.15rem;
      border-radius: 0.2rem; }
    #ten aside > div div:nth-of-type(2) p:nth-of-type(2) {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      color: gray;
      font-size: 0.58rem; }
      #ten aside > div div:nth-of-type(2) p:nth-of-type(2) i {
        font-size: 0.5rem;
        margin-right: 0.2rem; }
#ten .fix {
  width: 2rem;
  height: 2rem;
  position: fixed;
  border: 1px solid gainsboro;
  border-radius: 50%;
  z-index: 2;
  right: 0.5rem;
  bottom: 13%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center; }
  #ten .fix i {
    font-size: 0.84rem;
    color: #9c9c9c; }
#ten .advertising {
  display: flex;
  align-items: center;
  background: #000 url("../img/quoten_bottom.png") no-repeat;
  background-position: 20% top;
  opacity: .8;
  height: 2.2rem;
  width: 100%;
  position: fixed;
  bottom: 0; }
  #ten .advertising li {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    font-size: .5rem;
    padding: .1rem;
    border-bottom-right-radius: 100%;
    background: #38C993; }
    #ten .advertising li span {
      font-size: .5rem;
      color: #FFF; }
  #ten .advertising button {
    color: #FFF;
    background: #FBB405;
    position: absolute;
    right: 5%;
    z-index: 4;
    width: 3.6rem;
    height: 1.1rem;
    border-radius: .5rem;
    font-size: .5rem; }

/*# sourceMappingURL=index.css.map */
